todo-app/**/node_modules
todo-app/**/yarn.lock
todo-app/**/package-lock.json
nodejs/node_modules
nodejs/yarn.lock
nodejs/package-lock.json
nodejs/**/node_modules
nodejs/**/yarn.lock
nodejs/**/package-lock.json
php/vendor
php/composer.lock
.idea
.code
